

*.o
*.dep
*.dep2
*~
*.orig
Makefile*

callgrind.out*
leak.out*
core*

gameSource/Crucible
gameSource/Crucible.dSYM/
gameSource/EditCrucible
gameSource/EditCrucible.dSYM/
gameSource/testUser/*
gameSource/testUser2/*
gameSource/recordedGames/*
gameSource/screenShots/*

server/CrucibleServer
server/log.txt
server/recentPlacements.txt
server/*.db
server/backups/
server/failureLog/
server/foodLog/
server/lifeLog/
server/categories
server/objects
server/transitions
